webpath=C:\\project\\aastockslite\\web\\

jspath=C:\\project\\aastockslite\\web\\js\\
jsfile=data.js

jsonpath=C:\\Users\\Hin\\djangodev\\pricewatch\\data\\
jsonfile=list_{0}.json

# FTP Information
server=[FTP_SERVER]
user=[FTP_LOGIN]
pass=[FTP_PASS]

remoterootdir=[FTP_REMOTE_ROOT_DIR]
remoteparentfolder=stock